header {
    width: 100%;
    padding-block: 10px;
    background-color: #526D82;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 90;
}
  
header h1 {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

@media only screen and (max-width: 768px) {
  
    header {
      font-size: 14px;
      justify-content: center;
      display: flex;
    }

}